#p01, #p02, #p03{
  color: hotpink;
}
body{
  margin: 0;
  background-color: darkblue;
  color: white;
  padding: 40px;
}
h2{
  text-decoration: none;
  color: gold;
}
h2:hover{
  color: yellow;
}
form{
  background-color: #222;
  padding: 10px;
}
.flex-container {
  display: flex;
}

.content {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  color: #000000;

}
